@font-face {
    src: url('./Inter-Regular.woff') format('woff'),
         url('./Inter-Regular.woff2') format('woff2'),
         url('./Inter-Regular.otf') format('otf'),
         url('./Inter-Regular.ttf') format('ttf');
    font-family: 'Inter';
    font-weight: normal;
  }
  
  @font-face {
    src: url('./Inter-Medium.woff') format('woff'),
         url('./Inter-Medium.woff2') format('woff2'),
         url('./Inter-Medium.otf') format('otf'),
         url('./Inter-Medium.ttf') format('ttf');
    font-family: 'Inter';
    font-weight: 500;
  }
  
  @font-face {
    src: url('./Inter-SemiBold.woff') format('woff'),
         url('./Inter-SemiBold.woff2') format('woff2'),
         url('./Inter-SemiBold.otf') format('otf'),
         url('./Inter-SemiBold.ttf') format('ttf');
    font-family: 'Inter';
    font-weight: 600;
  }
  
  @font-face {
    src: url('./Inter-ExtraBold.woff') format('woff'),
         url('./Inter-ExtraBold.woff2') format('woff2'),
         url('./Inter-ExtraBold.otf') format('otf'),
         url('./Inter-ExtraBold.ttf') format('ttf');
    font-family: 'Inter';
    font-weight: 800;
  }